.main_div {
    width: 50%;
    margin: 0 auto;
    border: 2px solid #764127;
    border-radius: 10px;
    padding: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 10px 0 20px 0;
}

.division_name {
    display: inline-block;
    height: 10%;
    width: 10%;
    min-width: 110px;
    border: 1.5px solid #764127;
    text-align: center;
    background-color: #F9ECDB;
    border-radius: 5px;
    padding: 10px;
    margin-right: 1%;
}

.name_input {
    display: inline-block;
    height: 10%;
    width: 75%;
    min-width: 110px;
    border: 1.5px solid #764127;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
}

.user-email-input,
select {
    display: inline-block;
    height: 10%;
    width: 30%;
    min-width: 110px;
    border: 1.5px solid #764127;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
}

#input-container>div {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-gap: 10px;
    text-align: center;
    margin: 15px 0;
}

#input-container>div>div,
#input-container input,
#input-container select,
#input-container button{
    width: 100%;
    height: 100%;
}

.user-email>div:last-child{
    display: grid;
    grid-template-columns: 4.5fr 1fr 4.5fr;
    grid-gap: 10px;
}

#ck_num>div:last-child{
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-gap: 10px;
}

#ck_button_outdiv {
    display: flex;
    justify-content: center;
}

#ck_num_input {
    margin-right: 1%;
}

.required {
    color: red;
}

#ck_button:hover,
#ck_num_box:hover {
    background-color: #F6E3CE
}