/* div 공통 */
div {
    border-radius: 10px;
}


/* contents들 모아놓은 div */
.main_div {
    padding: 20px;
    background-color: white;
    border: 2px solid #764127;
    width: 50%;
    margin: 0 auto;
}

/* main_div 안의 내용들 div */
.input-contents {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 50px 30px;
    grid-gap: 10px;
}

.validation-message {
    grid-column: 2 / 3;
    font-size: 13px;
    justify-self: left;
    padding: 0 15px;
}

/* 이름, 아이디 등 구분하는 div */
.division_name, #ck_button {
    border: 1.5px solid #764127;
    background-color: #F9ECDB;
    border-radius: 5px;
}

.division_name{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 비밀번호 변경 */
h1 {
    text-align: center;
}

/* 확인 버튼 div */
#ck_button {
    width: 50%;
    margin-top: 30px;
    padding: 15px 0;
}

#ck_button:hover {
    background-color: #F6E3CE;
}

/* 확인 버튼 위치 가운데로 */
#ck_button_outdiv {
    text-align: center;
}

/* 이름, 아이디 input 디자인 크기 맞춤 */
.name_input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1.5px solid #764127;
    padding: 0 10px;
}

/* .validation-message{
    padding: 5px;
    width: 74%;
} */

/* .message-outline{
    display: flex;
    justify-content: flex-end;
    width: 98%;
} */