<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호변경</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/user/passwd/passwd_reset.css">
   <script src="/passwd/passwd_reset.js"></script>
   <script src="/common/common.js"></script>
</head>
<body>
    <header id="header"></header>
    <main>
        <div class="main_div">
            <div class="contents">
                <h1>비밀번호 변경</h1>
                <p>새로운 비밀번호를 설정해 주세요</p>
            </div>
            <div class="contents">
                <div class="division_name" id="newpw_input">새 비밀번호</div>
                <input type="password" class="name_input" id="newpw">
                <div class="message-outline">
                    <div class="validation-message"></div>
                </div>
            </div>
            <div class="contents">
                <div class="division_name">새 비밀번호 확인</div>
                <input type="password" class="name_input" id="newpw_ck">
                <div class="message-outline">
                    <div class="validation-message"></div>
                </div>
            </div>
            <div class="contents" id="ck_button_outdiv">
                <div class="division_name" id="ck_button">확인</div>
            </div>
        </div>
    </main>
</body>
</html>