.title_bar {
    width: 50%;
    min-width: 800px;
    border-top: 3px solid #ddd;
    padding: 5px 0;
    margin: 0 auto;
}

.title {
    display: flex;
    align-items: center;
    /* background-color: #fff8ef; */
}

#col_no {
    font-family: 'Nanum Gothic', sans-serif;
}

.title>p {
    text-align: left;
    font-size: 30px;
    padding: 0 0 0 20px;
}

.title>p:last-child {
    font-size: 28px;
    font-family: 'Nanum Gothic', sans-serif;
}

/* 번호와 제목 사이 칸 표시 용 */
.title span {
    margin: 0;
    background-color: #fff;
}

#writer {
    margin: 0;
    padding: 5px 0 0 20px;
    font-size: 15px;
    font-family: 'Nanum Gothic', sans-serif;
}

#writer>i {
    font-size: 18px;
}

#writer>button {
    float: right;
    font-size: 12px;
    margin-right: 5px;
    padding: 4px;
    border: 1px solid #c4c4c4;
}

.contents_bar {
    width: 50%;
    min-width: 800px;
    margin: 0 auto;
}

#col-info {
    display: flex;
    justify-content: space-between;
    background-color: #f6f6f6;
    margin-top: 5px;
    padding: 5px 10px;
    border: 1.5px solid #f6f6f6;
    border-top: 3px solid #ddd;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 13px;
}

#col-info i {
    display: flex;
    align-items: center;
    font-size: 15px;
}

#col-info-dt {
    display: flex;
}

#col-info-dt>i {
    margin-right: 7px;
}

#col-info-icon-wrap {
    display: flex;
}

#col-info-icon-wrap>div {
    display: flex;
    align-items: center;
}

#col-info-icon-wrap>div:not(:last-child) {
    margin-right: 12px;
}

#col-info-icon-wrap span {
    margin-left: 4px;
    font-weight: bold;
}

/* 칼럼 들어올 자리 */
.column_contents {
    margin: 0 auto;
    padding: 10px;
    /* 구분선. db들어오고 글 들어오면 없어질 border */
    border: 1.5px solid #f6f6f6;
    border-top: 0;
    position: relative;
}

.column_contents p,
.column_contents span {
    font-size: 14px;
}

.icon {
    width: 130px;
    height: 45px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    font-size: 15px;
    font-family: 'Nanum Gothic', sans-serif;
    transition: border .2s, background-color .2s;
}

.icon>p {
    padding: 0 3px;
    color: #3d3d3d;
    transition: color .2s;
}

.icon>i {
    padding: 0 3px;
    font-size: 24px;
    color: #c4c4c4;
    transition: color .2s;
}


.icon:hover {
    border: 1px solid #a2a2a2;
    /* efefef */
    background-color: #c5c5c5;
}

.icon:hover>p,
.icon:hover>i {
    color: white;
}



/* 댓글 창 부분 */
/* 큰 틀 */
.comment_bar {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    /* border: 1.5px solid #764127; */
}

.comment_bar>div {
    margin: 5px;
}

.comment_num {
    width: 15%;
    background-color: #F9ECDB;
    color: #764127;
    padding: 5px;
}

.comment_input {
    display: flex;
    flex-direction: column;
    border: .5px solid #764127;
}

.js_num {
    display: inline-block;
}

.server_num {
    width: 20%;
}

.input_div {
    display: flex;
    justify-content: space-between;
    border-top: 1.5px solid #764127;
}

.limit_text {
    padding: 5px 10px;
    border-right: 1.5px solid #764127;
}

.reply_save_btn {
    padding: 5px 20px;
    background-color: #F9ECDB;
    color: #764127;
    border: 0;
    border-left: 1.5px solid #764127;
    /* border-radius: 5px; */
}

.reply_save_btn:hover {
    background-color: #F6E3CE;
    cursor: pointer;
}

.reply_text {
    border: none;
    resize: none;
    height: 80px;
    padding: 5px;
}

.reply_text:focus {
    outline: none;
}

.reply {
    display: grid;
    grid-template-columns: 35px 1fr;
    font-family: 'Nanum Gothic', sans-serif;
    margin: -1px 0;
    padding: 20px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.reply i {
    margin-top: 5px;
    font-size: 25px;
}

.reply_write_info {
    display: flex;
    flex-direction: column;
}

.reply_write_info>span {
    font-size: 12px;
}

.reply_write_info>span:first-child{
    font-weight: bold;
}

.get_reply_text{
    padding-top: 10px;
    font-size: 14px;
}