/* 썸머노트 내용 입력란에있는 p태그에 마진이 있어서 제거 */
p {
  margin: 0;
}

header {
  display: flex;
}

a {
  text-decoration: none;
  color: #764127;
}

a:hover {
  text-decoration: none;
  color: #764127;
}

/* #upload-title, #imgFile, #uploadBtn, #imgDelBtn, #uploadMsg, #img-preview, #uploadImg */
#file-upload-wrap {
  width: 50%;
  height: 50px;
  min-width: 800px;
  display: grid;
  grid-template-columns: 2fr 2.9fr .8fr .8fr 2.5fr 1fr;
  grid-gap: 10px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 15px;
}

#img-preview>div {
  display: none;
  flex-direction: column;
}

.fa-image {
  font-size: 20px;
}

.fa-sort-down {
  font-size: 15px;
  margin-top: -5px;
}

main {
  position: relative;
}

.fa-image,
.fa-sort-down {
  cursor: pointer;
}

#uploadImg {
  padding: 3px;
  position: absolute;
  top: 115px;
  right: 20%;
  z-index: 5;
  height: 300px;
}

@media screen and (max-width: 1250px) {
  #uploadImg {
    right: 5%;
  }
}

.layouts {
  width: 50%;
  min-width: 800px;
  margin: 0 auto;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 5fr 2.5fr 2.5fr;
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 10px;
  font-size: 1.7rem;
}

.buttons {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-gap: 10px;
}

.buttons>button {
  width: 100%;
  background-color: #f9ecdb;
  border-radius: 5px;
  border: 1.5px solid #764127;
}

.buttons>button:hover {
  background-color: #f6e3ce;
}

.name {
  border: 1.5px solid #764127;
  border-radius: 5px;
  padding: 0 10px;
}

#column_type {
  text-align: center;
  border: 1.5px solid #764127;
  border-radius: 5px;
}

#write-wrap {
  width: 50%;
  min-width: 800px;
  margin: 0 auto;
}