<!DOCTYPE html>
<html lang="en">

<head>
  <title>컬럼 목록</title>
  <link rel="stylesheet" href="/column/all.css" />
  <script src="/column/test.js"></script>
  <script src="/column/column.js"></script>
</head>

<body>
  <div class="path-wrap">
    <p class="path"></p>
  </div>

  <article class="column-list-article">
    <!-- 버튼 -->
    <div class="option_bar">
      <ul>
        <li>전체 컬럼</li>
        <li>구독한 작가 컬럼</li>
        <li>좋아요 한 컬럼</li>
      </ul>
    </div>

    <!-- 컬럼 검색,글쓰기 버튼 -->
    <div class="column-search-wrap">
      <input class="search-input" type="text" placeholder="검색창">
      <button class="column">검색</button>
      <button class="add-column-btn">글쓰기</button>
    </div>

    <!-- 게시글 목록 요소 -->
    <!-- 개시글 요소 생성시 -->
    <table id="postTable">
      <thead>
        <tr>
          <th>No</th>
          <th>제목</th>
          <th>글쓴이</th>
          <th>작성시간</th>
        </tr>
      </thead>
      <tbody id="postBody"></tbody>
    </table>
  </article>




  <nav aria-label="Page navigation example" class="pagination-container">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">이전</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">다음</a></li>
    </ul>
  </nav>


  <!-- 일단 개인적인 기록. 화면 정의서대로 할 필요 없이 SPA 개념처럼, 선택한 버튼 값에 따라 서버에서 쏴주는 값을 하는게 좋을수도... -->

  <!-- 서버 값 주고받으면서 실험해봐야 하지만, 페이지당 최대 10개의 글까지 나오도록 하고 아래는 페이지 수(한번에 최대 5장 단위까지), 그리고 아래에 글쓰기 버튼 배치하기 -->


</body>

</html>