<!DOCTYPE html>
<html lang="en">

<head>
  <title>컬럼 목록</title>
  <link rel="stylesheet" href="/column/list.css" />
  <script src="/column/test.js"></script>
  <script src="/column/column.js"></script>
</head>

<body>
  <div class="path-wrap" id="path-wrap">
    <p class="path"> <a href="/main/home"><i class="fa-solid fa-house"></i></a> >
      <span>칼럼</span> > <span id="change-path"></span>
    </p>
  </div>

  <article class="column-list-article">
    <!-- 버튼 -->
    <div class="option_bar">
      <ul>
        <% if(!isLogined.isLogined) { %>
          <li>전체 칼럼</li>
          <% } else { %>
            <li>전체 칼럼</li>
            <!-- 구독한 작가 칼럼 삭제 해야함, 구독 기능없앰 -->
            <li>구독한 작가 칼럼</li>
            <li>좋아요 한 칼럼</li>
            <% } %>
      </ul>
    </div>

    <!-- 컬럼 검색,글쓰기 버튼 -->
    <div class="column-search-wrap">
      <select id="column_type">
        <option value="0" selected>선택</option>
        <option value="1">국내 소설</option>
        <option value="2">해외 소설</option>
        <option value="3">시/에세이</option>
        <option value="4">인문</option>
        <option value="5">가정/육아</option>
        <option value="6">요리</option>
        <option value="7">건강</option>
        <option value="8">취미/실용</option>
        <option value="9">경제/경영</option>
        <option value="10">자기계발</option>
        <option value="11">정치/사회</option>
        <option value="12">역사/문화</option>
        <option value="13">종교</option>
        <option value="14">예술/대중문화</option>
        <option value="15">기술공학</option>
        <option value="16">외국어</option>
        <option value="17">여행</option>
        <option value="18">컴퓨터/IT</option>
        <option value="19">잡지</option>
        <option value="20">만화</option>
      </select>
      <input class="search-input" id="search-input" type="text" placeholder="검색창" />
      <button class="search-column" id="search-column">검색</button>
      <button class="add-column-btn" id="add-column-btn" onclick="location.href='/column/write'">글쓰기</button>
    </div>

    <!-- 게시글 목록 요소 -->
    <div id="postBody"></div>
  </article>
  <nav aria-label="Page navigation example" class="pagination-container">
    <ul class="pagination"></ul>
  </nav>

</body>

</html>