<!DOCTYPE html>
<html lang="en">

<head>
    <title>칼럼 읽기</title>
    <link rel="stylesheet" href="/column/read_column_comment.css">
    <script src="/column/read_column_comment.js"></script>


</head>
<!-- +이 페이지 푸터 위치 문제-->

<!-- 이 페이지는 서버랑 연동하고 백이랑 프론트 같이 들어가야해서 퍼블리싱 까지만 했습니다! -->

<body>
    <div class="title_bar">
        <!-- 제목  input 길이 50자로 지정 : 이건 공지 때려야함. -->
        <!-- 여기는 DB에서 보내는 글제목이 들어와야함. DB 연결하면 수정-->
        <div class="title">글 제목</div>
        <div class="icon">
            <i class="bi bi-heart"></i>
            <i class="bi bi-bell"></i>
        </div>
    </div>
    <div class="contents_bar">
        <div class="column_contents">
            칼럼 내용 들어올 자리 : DB가 할꺼
        </div>
        <!-- 댓글 부분, 위치 색깔 하늘색-->
        <div class="comment_bar">
            <!-- js_num은 자바스크립트로 그자리에서 해야함. : 방법 아시는분 ?-->
            <div class="comment_num">댓글 수 : <span class="server_num">0</span></div>
            <!-- 부모 댓글 textarea, 위치 색깔 파란색-->
            <div class="comment_input">
                <textarea class="textarea" cols="30" rows="10"></textarea>
                <div class="input_div">
                    <div class="limit_text"><span class="js_num">0</span>/300</div>
                    <div class="input_btn">등록</div>
                </div>
            </div>
            <!-- 부모 textarea로 받은 내용이 들어올 위치-->
            <div class="input_text_bar">
                <div class="user_time"><span>유저정보</span><span>입력한 시간</span></div>
                <div class="recommnet_bar">
                    <!-- 위치 색깔 분홍색 -->
                    <div class="input_text">
                        위의 댓글에서 입력한거 받는 부분
                    </div>
                    <span class="recomment_write">답글 쓰기</span>
                </div>
                <!-- 답글 쓰기를 누르면 나오는 자식 댓글 -->
                <!-- 자식 textarea로 받은 내용이 들어올 위치 -->
                <div class="user_time"><span>유저정보</span><span>입력한 시간</span></div>
                <div class="recommnet_bar">
                    <div class="input_text">
                        아래의 대댓글쓰기에서 입력한거 받는 부분
                    </div>
                    <!-- 자식 댓글 Textarea부분, 위치 색깔 파란색 -->
                    <div class="comment_input">
                        <textarea class="textarea" cols="30" rows="10"></textarea>
                        <div class="input_div">
                            <div class="limit_text"><span class="js_num">0</span>/300</div>
                            <div class="input_btn">등록</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>