<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 찾기</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/user/findById2.css">
    <script src="/common/common.js"></script>
</head>
</script>

<body>
    <header id="header"></header>
    <main>
        <div class="main_div">
            <div class="contents">
                <p class="id">아이디는</p>
            </div>
            <div class="contents">
                <div class="box"></div>
            </div>
            <div class="contents">
                <p class="text">입니다.</p>
            </div>
            <div class="contents" id="content">
                <a href="/project/views/user/passwd/passwd.html"><div class="click_btn">비밀번호 찾기</div></a>
                <a href="/project/views/user/login/login.html"><div class="click_btn">로그인</div></a>
            </div>
    </main>
</body>

</html>