<!DOCTYPE html>
<html lang="en">

<head>
    <title>회원가입</title>
    <link rel="stylesheet" href="/user/join.css">
    <script src="/user/userJoin.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script> <!-- 우편번호검색 api -->
</head>

<body>
    <form action="/user/join" method="post">
        <article class="user-join-wrap">
            <h1 id="user-join-title">회원가입</h1>
            <p class="brief"><span class="required">*</span>표시는 필수 기입항목입니다.</p>
            <div>
                <!-- 아이디 -->
                <div class="user-login-id">
                    <div><span class="required">*</span>아이디</div>
                    <div>
                        <input name="loginId" type="text" id="user-login-id-input" class="user-input" maxlength="20">
                        <button type="button" id="login-id-duplicate-check-btn" class="duplicate-btn"
                            data-btn-idx="0">중복확인</button>
                    </div>
                    <div class="validation-message"></div>
                </div>

                <!-- 비밀번호 -->
                <div class="user-login-pw">
                    <div><span class="required">*</span>비밀번호</div>
                    <div>
                        <input name="loginPw" type="password" id="user-login-pw-input" class="user-input"
                            maxlength="30">
                    </div>
                    <div class="validation-message"></div>
                </div>

                <!-- 비밀번호 확인 -->
                <div class="user-login-pw-ck">
                    <div><span class="required">*</span>비밀번호 확인</div>
                    <div>
                        <input type="password" id="user-login-pw-ck-input" class="user-input">
                    </div>
                    <div class="validation-message"></div>
                </div>

                <!-- 이름 -->
                <div class="user-name">
                    <div><span class="required">*</span>이름</div>
                    <div>
                        <input name="name" type="text" id="user-name-input" class="user-input" maxlength="10">
                    </div>
                    <div class="validation-message"></div>
                </div>

                <!-- 닉네임 -->
                <div class="user-nickname">
                    <div><span class="required">*</span>닉네임</div>
                    <div>
                        <input name="nickname" type="text" id="user-nickname-input" class="user-input" maxlength="14">
                        <button type="button" id="nickname-duplicate-check-btn" class="duplicate-btn"
                            data-btn-idx="4">중복확인</button>
                    </div>
                    <!-- <div class="warning-message">닉네임은 변경할 수 없습니다.</div> -->
                    <div class="validation-message"></div>
                </div>

                <!-- 이메일 -->
                <div class="user-email">
                    <div><span class="required">*</span>이메일</div>
                    <div>
                        <input name="email" type="hidden" id="email">
                        <input type="text" id="user-email-input" class="user-input">
                        <span>@</span>
                        <input type="text" class="custom-input">
                        <select id="select-email-option">
                            <option value="none">==선택==</option>
                            <option value="userInput">직접입력</option>
                            <option value="gmail.com">gmail.com</option>
                            <option value="naver.com">naver.com</option>
                            <option value="nate.com">nate.com</option>
                            <option value="daum.net">daum.net</option>
                            <!-- <option value="">카카오</option> -->
                        </select>
                    </div>
                    <div class="validation-message"></div>
                </div>

                <!-- 전화번호 -->
                <div class="user-phone-number">
                    <div>전화번호</div>
                    <div class="input-numbers">
                        <!-- 각 input 패턴 적용 -->
                        <input type="text" class="user-phone-number-input" maxlength="3">
                        <span>-</span>
                        <input type="text" class="user-phone-number-input" maxlength="4">
                        <span>-</span>
                        <input type="text" class="user-phone-number-input" maxlength="4">
                    </div>
                    <input name="telno" type="hidden" id="phone-number">
                    <div class="validation-message"></div>
                </div>

                <!-- 주소 -->
                <div class="user-address">
                    <!-- <input type="hidden"> -->
                    <div>주소</div>
                    <div>
                        <input type="text" class="user-address-input" readonly>
                        <button type="button" id="find-postal-code-btn" class="user-join-wrap-btn">우편번호 찾기</button>
                    </div>
                    <div class="validation-message"></div>
                </div>

                <!-- 상세 주소 -->
                <div class="user-address">
                    <p></p>
                    <div>
                        <input type="text" class="user-address-detail-input" placeholder="상세주소입력">
                        <button type="button" id="postal-code-reset-btn" class="user-join-wrap-btn">초기화</button>
                    </div>
                    <input name="address" id="address" type="hidden">
                    <div class="validation-message"></div>
                </div>

                <!-- 본인인증 -->
                <!-- <div class="user-id-check">
                    <div> <span class="required">*</span>본인인증</div>
                    <div>
                        <input type="text" id="user-id-check-input" class="user-input">
                    </div>
                    <div class="validation-message"></div>
                </div> -->
            </div>
            <button type="button" id="user-join-btn" class="user-join-wrap-btn">회원가입</button>
            <button type="button" id="cancel-btn" class="user-join-wrap-btn" onclick="location.href='/main/home'">취소</button>
        </article>
    </form>
</body>

</html>