<!DOCTYPE html>
<html lang="en">

<head>
    <title>로그인</title>
    <link rel="stylesheet" href="/user/login.css">
    <script src="/user/userLogin.js"></script>
</head>

<body>
    <div class="modal">
        <div class="modal-container">
            <div class="qr-wrap">
                <i class="fa-solid fa-xmark"></i>
                <div class="qr">qr코드</div>
                <div class="remaining-time">
                    남은시간
                    <p class="time">02분 59초</p>
                </div>
            </div>
        </div>
    </div>
    <div class="login-form">
        <h1>Booker</h1>
        <form id="login-form" action="/user/login" method="post">
            <div class="login-wrap">
                <i class="fa-solid fa-user"></i>
                <input type="text" name="loginId" id="login-id" class="text-field" placeholder="아이디를 입력해주세요"
                    maxlength="20">
            </div>
            <div class="login-wrap">
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="loginPw" id="login-pw" class="text-field" placeholder="비밀번호를 입력해주세요"
                    maxlength="30">
                <i id="show-eyes" class="fa-solid fa-eye" style="color: #474747;"></i>
                <i id="hide-eyes" class="fa-solid fa-eye-slash" style="color: #474747;"></i>
            </div>
            <button type="submit" class="submit-btn">로그인</button>
            <!-- <button type="button" class="qr-btn">QR 로그인</button> -->

            <div class="links">
                <a href="/user/join">회원가입</a>
                <div class="find-wrap">
                    <a href="/user/findById1">아이디 찾기</a>
                    <a href="/user/passwd_find">비밀번호 찾기</a>
                </div>
            </div>

            <div class="checkLine">
                <span></span><span>또는</span><span></span>
            </div>

            <div class="login-btn-container">
                <img src="/login-button/네이버로그인.png" alt="">
                <img src="/login-button/카카오로그인2.png" alt="">
                <img src="/login-button/구글로그인.png" alt="">
                <!-- <img src="/login-button/구글로그인.png" alt=""> -->
            </div>
        </form>
    </div>
</body>

</html>