footer {
  margin-top: 43px;
  width: 100%;
  min-width: 900px;
  height: 70px;
  text-align: center;
  font-size: 20px;
  background-color: #F9ECDB;
  color: #764127;
  font-family: 'HakgyoansimWoojuR';
}

footer span {
  margin: 0 70px;
  line-height: 3.5;
}

footer>div {
  display: inline-block;
  font-family: 'GmarketSansMedium';
}

footer a {
  color: #764127;
  text-decoration: none;
}