<!DOCTYPE html>
<html lang="en">

<head>
    <title>사이트 소개</title>
    <link rel="stylesheet" href="/mainPage/site_inroduction.css">
</head>

<body>
    <div class="contents">
        <div class="site_title">
            <h1>더 많은 사람들이 책으로 소통하기를</h1>
        </div>
        <div class="paragraph">
            <h2>Booker란?</h2>
            <p>Booker는 현존하는 book 커뮤니티 온라인 사이트들의 공간적, 시간적 제약을 없애고 소통하기 위해서 5명의 병아리 개발자들이 만든 사이트 입니다.</p>
        </div>
        <div class="paragraph">
            <h2>Booker는 이런 일을 합니다!</h2>
            <p>1. 책에 관한 컬럼을 적으면 그 칼럼에 대해 댓글로 서로 이야기 나눌 수 있습니다.</p>
            <p>2. 마음에 드는 작가의 칼럼을 구독할수 있습니다.</p>
            <p>3. 마음에 맞는 사람들이 토론방을 만들어 독서 토론을 할수 있습니다</p>
        </div>
        <div class="paragraph">
            <h2>5명의 병아리 개발자들</h2>
            <div class="img"><img src="/free-icon-girl-4202848.png" alt="박소민">박소민</div>
            <div class="img"><img src="/free-icon-boy-4202839.png" alt="서지호">서지호</div>
            <div class="img"><img src="/free-icon-boy-4202831.png" alt="장성훈">장성훈</div>
            <div class="img"><img src="/free-icon-boy-4202833.png" alt="길호윤">길호윤</div>
            <div class="img"><img src="/free-icon-girl-4202836.png" alt="이효은">이효은</div>
            <!-- 나중에는 이름 앞에 img를 넣어서 나란히 두려고 div로 했습니다. -->
        </div>
        <div class="paragraph">
            <h2>개발기간</h2>
            <p>2023.09.02~2023.11.19</p>
        </div>
    </div>
</body>

</html>