@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

main {
    font-family: 'HakgyoansimWoojuR';
    padding: 0 5px;
}

.recomm_outline {
    width: 50%;
    min-width: 800px;
    height: 60%;
    margin: 0 auto;
}


.recomm {
    height: 50px;
    width: 250px;
    color: #764127;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

/* 분야별 칼럼 분류제외한 itemMenu_bar */
.coumn_bar {
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* 분야별 칼럼 분류제외한 itemMenu_bar */
.recomm_bar {
    display: flex;
    align-items: center;
    height: 150px;
    margin-bottom: 10px;
    justify-content: center;
}

/* 분야별 칼럼 분류를 제외한 3가지 item div */
.bar_item {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-rows: 8fr 2fr;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.bar_item:hover {
    cursor: pointer;

    .column_img {
        transform: scale(1.15);
    }

    .column_title {
        background-color: rgba(255, 255, 255, 0.8);
    }

}

.column_img {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1);
    width: 380px;
    height: 300px;
    z-index: 3;
    transition: transform 1s;
}

.column_title {
    width: 135px;
    height: 185px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 5;
    padding: 5px;
    transition: background-color 1s;
}

.column_writer {
    width: 100%;
    height: 73px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 0.5px solid #D3B396;
}

/* 분야별 칼럼 분류 item div */
.class_item {
    width: 150px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
}

.class_item:hover {
    cursor: pointer;
    border: 0.5px solid #D3B396;
}

#class_frame {
    width: 100%;
    margin: 0 auto;
}

/* 마우스 호버 시 포인터 모양으로 변경 + border랑 글자 색 변환 */
.class_item:hover {
    border: 0.5px solid #D3B396;
    color: #D3B396;
    cursor: pointer;
}

.part_wrap {
    height: 76px;
    transition: height .8s;
}

.part {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    color: #764127;
    font-family: 'HakgyoansimWoojuR';
    font-size: 40px;
    letter-spacing: -.05em;
}

.part:not(:first-child) {
    font-family: "Nanum Myeongjo", sans-serif;
    color: #cacaca;
    font-size: 32px;
    margin-bottom: 5px;
    letter-spacing: 0;
}

.blink {
    display: none;
    font-size: 40px;
    font-weight: bold;
    animation: blink .5s infinite;
}

@keyframes blink {
    to {
        opacity: 0;
    }
}

/* 칼럼 디자인 웹 퍼블리싱 */

.bar_item>a>img,
.bar_item>a {
    width: 100%;
    height: 100%;
}

hr {
    margin: 40px 0;
}

/* 캐러셀 테스트 */
/* 스스롤 만들었다는 캐러셀 테스트*/
.carousel-wrapper {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.bi-chevron-left,
.bi-chevron-right {
    position: absolute;
    top: 40%;
    margin-top: -25px;
    cursor: pointer;
    z-index: 2;
    transition: color 0.3s, background-color 0.3s;
    color: #5d360b;
    background-color: rgba(246, 199, 149, 0.3);
    border-radius: 50%;
}

.bi-chevron-left {
    left: 2%;
}

.bi-chevron-right {
    right: 2%;
}

.bi-chevron-left:hover,
.bi-chevron-right:hover {
    color: #764127;
    background-color: rgba(182, 166, 150, 0.5);
}

.bi-chevron-right::before {
    content: "\f285";
    font-family: bootstrap-icons;
    font-size: 40px;
    padding: 7px;
}

.bi-chevron-left::before {
    content: "\f284";
    font-family: bootstrap-icons;
    font-size: 40px;
    padding: 7px;
}

.slide_bar {
    width: 300%;
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s ease-in-out;
}

.cut_div {
    display: flex;
    width: 100%;
    height: 300px;
}

.btn-wrap {
    margin: 5px;
}

.slide-indicators {
    width: 30%;
    height: 13px;
    /* background-color: rgba(255, 255, 255, 0.8); */
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 8;
    display: flex;
}

.indicators-label {
    width: 27%;
    border-radius: 50px;
    margin: 0 auto;
    cursor: pointer;
}