main {
    overflow: hidden;
}

.recomm_outline {
    width: 60%;
    height: 60%;
    margin: 0 auto;
}


.recomm {
    height: 50px;
    width: 250px;
    color: #764127;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

/* 분야별 칼럼 분류제외한 itemMenu_bar */
.coumn_bar {
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* 분야별 칼럼 분류제외한 itemMenu_bar */
.recomm_bar {
    display: flex;
    align-items: center;
    height: 150px;
    margin-bottom: 10px;
    justify-content: center;
}

/* 분야별 칼럼 분류를 제외한 3가지 item div */
.bar_item {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-rows: 8fr 2fr;
    justify-content: center;
    overflow: hidden;
    position: relative;
    border-left: 1px solid gainsboro;
}

/* 분야별 칼럼 분류 item div */
#class_frame {
    width: 100%;
    margin: 0 auto;
}

.class_item {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0.5px 0.5px 0.5px 0.5px gainsboro;
}

/* 마우스 호버 시 포인터 모양으로 변경 + border랑 글자 색 변환 */
.class_item:hover {
    border: 0.5px solid #D3B396;
    color: #D3B396;
    cursor: pointer;
}

.part_wrap {
    height: 76px;
    transition: height .8s;
}

.part {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    color: #764127;
    font-family: 'HakgyoansimWoojuR';
    font-size: 40px;
    letter-spacing: -.05em;
}

.part:not(:first-child) {
    font-family: "Nanum Myeongjo", sans-serif;
    color: #cacaca;
    font-size: 32px;
    margin-bottom: 5px;
    letter-spacing: 0;
}

.blink {
    display: none;
    font-size: 40px;
    font-weight: bold;
    animation: blink .5s infinite;
}

@keyframes blink {
    to {
        opacity: 0;
    }
}

/* 칼럼 디자인 웹 퍼블리싱 */

.bar_item>a>img,
.bar_item>a {
    width: 100%;
    height: 100%;
}

hr {
    margin: 40px 0;
}

/* 캐러셀 테스트 */
/* 스스롤 만들었다는 캐러셀 테스트*/
.carousel-wrapper {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.bi-chevron-left,
.bi-chevron-right {
    position: absolute;
    top: 40%;
    margin-top: -25px;
    cursor: pointer;
    z-index: 2;
    transition: color 0.3s, background-color 0.3s;
    color: #5d360b;
    background-color: rgba(246, 199, 149, 0.3);
    border-radius: 50%;
}

.bi-chevron-left {
    left: 2%;
}

.bi-chevron-right {
    right: 2%;
}

.bi-chevron-left:hover,
.bi-chevron-right:hover {
    color: #764127;
    background-color: rgba(182, 166, 150, 0.5);
}

.bi-chevron-right::before {
    content: "\f285";
    font-family: bootstrap-icons;
    font-size: 40px;
    padding: 7px;
}

.bi-chevron-left::before {
    content: "\f284";
    font-family: bootstrap-icons;
    font-size: 40px;
    padding: 7px;
}

.slide_bar {
    width: 300%;
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s ease-in-out;
}

.cut_div {
    display: flex;
    width: 100%;
    height: 300px;
}

.btn-wrap {
    margin: 5px;
}

.slide-indicators {
    width: 30%;
    height: 13px;
    /* background-color: rgba(255, 255, 255, 0.8); */
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 8;
    display: flex;
}

.indicators-label {
    width: 25%;
    border-radius: 50px;
    margin: 0 auto;
    cursor: pointer;
}


#blogbox {
    margin-top: 50px;
    position: relative;
}

#column_container {
    width: 960px;
    margin: 0 auto;
    overflow: visible;
}

#column_container>div {
    width: 4800px;
    display: flex;
    height: 650px;
    transform: translateX(0%);
    transition: transform .2s ease-in-out;
}

.column {
    position: relative;
    width: 480px;
    height: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.column::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color .2s;
}

.column:hover,
.column:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
}

.column_info {
    width: 80%;
    height: 70%;
    display: grid;
    grid-template-rows: 60% 2fr 1fr;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'omyu_pretty';
}

.column_info>span:first-child {
    padding: 70px 0;
    font-size: 42px;
}


.column_info>span:last-child {
    font-size: 20px;
}


.bi-arrow-left-short,
.bi-arrow-right-short {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, .7);
    background-color: rgba(255, 255, 255, .5);
    font-size: 80px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 7;
    cursor: pointer;
}

.bi-arrow-left-short {
    left: 2%;
}

.bi-arrow-right-short {
    right: 2%;
}