@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: 'HakgyoansimWoojuR';
}

.delete_account-form {
    width: 600px;
    border: 2px solid #764127;
    border-radius: 10px;
    /* 중복 속성 제거 */
    padding: 20px;
    margin: 30px auto;
}

.checkbox-part {
    width: 100%;
    border: 1.5px solid #764127;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

p {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 5px 0;
    letter-spacing: 2.5px;
    color: #333;
}

label {
    font-size: 1.4rem;
    color: #333;
    padding: 7px 15px;
}

.all {
    transform: scale(1.7);
}

span {
    padding: 0 12px;
}

.text-field,
#passwordInput {
    margin: 10px;
    padding: 7px 10px;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1.2px;
    border: 1.5px solid #764127;
    border-radius: 5px;
}

.text-field {
    height: 150px;
    resize: none;
}

#passwordInput {
    width: 40%;
    margin: 10px 0;

}

.password-part {
    margin: 30px 0;
    padding: 0 10px;
}

.links {
    margin: 10px 0 10% 0;
}

.links a {
    font-size: 1.2rem;
    color: black;
}

.delete-btn-part {
    text-align: center;
}

#withdrawButton {
    border: 1.5px solid #764127;
    border-radius: 5px;
    background-color: #F9ECDB;
    font-family: 'HakgyoansimWoojuR';
    padding: 5px 0;
    
}

#withdrawButton:hover {
    background-color: #F6E3CE;
}



.out {
    font-size: 1rem;
    width: 25%;
    height: 45px;
}