@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: 'HakgyoansimWoojuR';
}

span {
    font-size: 1.4rem;
}

input,
select {
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    letter-spacing: 1.5px;
    border: 1.5px solid #764127;
    border-radius: 5px;
    margin: 0 5px;
    padding: 0 10px;
}

select{
    text-align: center;
}

button {
    font-family: 'HakgyoansimWoojuR';
    min-width: 70px;
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    border: 1.5px solid #764127;
    border-radius: 5px;
    background-color: #F9ECDB;
    margin: 0 5px;
    cursor: pointer;
}

button:hover {
    background-color: #F6E3CE;
}

.user-join-wrap {
    width: 50%;
    min-width: 400px;
    margin: 0 auto;
    border: 2px solid #764127;
    border-radius: 10px;
    text-align: center;
}

.brief {
    text-align: left;
    padding: 15px 50px;
}

#user-join-title{
    width: 85%;
    border-radius: 5px;
    padding: 8px 0;
    margin: 30px 0 20px 40px;
    font-size: 32px;
}

.user-join-wrap>div>div {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 50px 30px;
    align-items: center;
}

.user-join-wrap>div>div>div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.user-join-wrap>div>div>div:first-child {
    min-width: 70px;
    height: 100%;
    font-size: 1.1rem;
    background-color: #F9ECDB;
    margin: 0 10px 0 40px;
    border: 1.5px solid #764127;
    border-radius: 5px;
}

.required {
    color: red;
}

.user-join-wrap>div>div>div:nth-child(2) {
    height: 100%;
    margin: 0 40px 0 0;
}

/* 유효성 검사 메시지 */
.validation-message {
    grid-column: 2 / 3;
    font-size: 12px;
    justify-self: left;
    padding: 0 15px;
}

/* 이메일 */
.custom-input {
    display: none;
}

/* 전화번호 */
.input-numbers {
    display: flex;
}

.user-phone-number-input {
    text-align: center;
}

.user-phone-number-input:first-child {
    width: 50%;
    text-align: center;
}


/* 회원가입 버튼 */
.user-join-wrap-btn {
    width: 88%;
    height: 50px;
    margin: 20px 5px;
}


@media screen and (max-width: 1250px) {
    .user-join-wrap{
        width: 80%;
    }
}

@media screen and (min-width: 900px) {
    .user-join-wrap{
        width: 35%;
    }
}
