@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

main{
    font-family: 'HakgyoansimWoojuR';
}
div {
    display: inline-block;
}

.title_bar {
    display: block;
    border-top: 3px solid #F6E3CE;
    border-bottom: 3px solid #F6E3CE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80px;
    text-align: center;
    margin-left: auto;
    font-size: 50px;
}

.icon {
    width: 10%;
    height: 50px;
    display: flex;
    justify-content: center;

}

.icon>i{
    cursor: pointer;
}

.icon>:first-child{
    margin-right: 15px;
}

.bi-heart, .bi-heart-fill, .bi-bell, .bi-bell-fill{
    color: #764127;
}

.contents_bar {
    width: 80%;
    height: calc(100vh - 187px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

}
/* 칼럼 들어올 자리 */
.column_contents {
    margin-top: 30px;
    width: 70%;
    min-height: 100%;
    /* 구분선. db들어오고 글 들어오면 없어질 border */
    border: 1.5px solid #764127;
}

/* 댓글 창 부분 */
/* 큰 틀 */
.comment_bar {
    margin-top: 5px;
    width: 70%;
    display: flex;
    flex-direction: column;
    border: 1.5px solid #764127;
}

.comment_bar>div {
    margin: 5px;
}

.comment_num {
    width: 15%;
    background-color: #F9ECDB;
    color: #764127;
    padding: 5px;
}

.comment_input {
    display: flex;
    flex-direction: column;
    border: 1.5px solid #764127;
}

.user_time {
    display: flex;
    flex-direction: row;
}

.recommnet_bar {
    display: flex;
    flex-direction: column;
    /* 구분 색 */
    border: 3px solid pink; 
}

.input_text {
    display: inline-block;
}

span {
    display: inline-block;
    width: 100px;
}

.server_num {
    width: 20%;
}

.input_div {
    display: flex;
    justify-content: space-between;
}

.limit_text {
    order: 1;
    padding: 5px 10px;
    border: 1.5px solid #764127;
}

.input_btn {
    padding: 5px 20px;
    order: 2;
    background-color: #F9ECDB;
    color: #764127;
    border: 1.5px solid #764127;
    border-radius: 5px;
}

.input_btn:hover{
    background-color: #F6E3CE;
    cursor: pointer;
}

textarea{
    border: none;
}