<!DOCTYPE html>
<html lang="en">

<head>
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="/user/passwd/passwd.css">
    <script src="/user/passwd/passwd.js"></script>
</head>

<body>
    <div class="main_div">
        <h1>비밀번호 찾기</h1>
        <div id="input-container">
            <!-- 이름 -->
            <div id="user-name">
                <div class="division_name" id="name_div">이름</div>
                <input type="text" class="name_input" id="name_input">
            </div>

            <!-- 아이디 -->
            <div id="user-login-id">
                <div class="division_name">아이디</div>
                <input type="text" class="name_input" id="id_input">
            </div>

            <!-- 이메일 -->
            <div class="user-email">
                <div class="division_name"><span class="required">*</span>이메일</div>
                <div>
                    <input type="text" class="user-email-input">
                    <span>@</span>
                    <input type="text" class="custom-input">
                    <select name="" id="select-email-option">
                        <option value="none">==선택==</option>
                        <option value="userInput">직접입력</option>
                        <option value="gmail.com">gmail.com</option>
                        <option value="naver.com">naver.com</option>
                        <option value="nate.com">nate.com</option>
                        <option value="daum.net">daum.net</option>
                    </select>
                </div>
            </div>
            <div id="ck_num">
                <div class="division_name"><span class="required">*</span>인증번호</div>
                <div>
                    <input type="text" class="name_input" id="ck_num_input" placeholder="인증번호 6자리 입력해 주세요">
                    <button class="division_name" id="ck_num_box">인증번호 확인</button>
                </div>
            </div>
        </div>
        <div id="ck_button_outdiv">
            <div class="division_name" id="ck_button">확인</div>
        </div>
    </div>
</body>

</html>