@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
}

/* div 공통 */
div {
    border-radius: 10px;
    font-family: 'HakgyoansimWoojuR';
}

/* input 요소 */
input {
    padding: 10px;
    display: inline-block;
}
/* 제일 문서 내용 */
main{
    display: flex;
    justify-content: center;
}

/* contents들 모아놓은 div */
.main_div {
    padding: 20px;
    margin-top: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #764127;
    width: 600px;
}

/* main_div 안의 내용들 div */
.contents {
    padding: 5px;
    width: 600px;
}

/* 이름, 아이디 등 구분하는 div */
.division_name {
    display: inline-block;
    border: 1.5px solid #764127;
    padding: 10px;
    background-color: #F9ECDB;
    text-align: center;
    width: 100px;
    border-radius: 5px;
}

/* 비밀번호 변경 */
h1 {
    text-align: center;
}

/* 인증번호 div */
#ck_num {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* 인증번호 input */
#ck_num_input {
    width: 300px;
    margin-right: 10px;
}

/* 확인 버튼 div */
#ck_button {
    width: 400px;
    padding: 15px;
    text-align: center;
    display: inline-block;
}

#ck_button:hover{
    background-color: #F6E3CE;
}

/* 확인 버튼 위치 가운데로 */
#ck_button_outdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 이름, 아이디 input 디자인 크기 맞춤 */
.name_input {
    width: 70%;
    border-radius: 5px;
    border: 1.5px solid #764127;
}

.validation-message{
    border: 1.5px solid;
    padding: 5px;
}

.message-outline{
    border: 1.3px solid blue;
    padding: 15px;
}