@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: auto;
    margin-top: 143px;
    min-height: calc(100vh - 143px - 70px - 43px);
    font-family: 'HakgyoansimWoojuR';
}

a,
.bi {
    text-decoration: none;
    color: #764127;
}

a:hover {
    text-decoration: none;
    color: #764127;
}

button {
    cursor: pointer;
}

ul,
li {
    list-style: none;
}

/* 헤더 태그 */
header {
    background-color: #F9ECDB;
    width: 100%;
    min-width: 900px;
    height: 100px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    z-index: 3;
    display: flex;
    align-items: center;
    font-family: 'HakgyoansimWoojuR';
}

#header_wrap {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 6fr 3fr;
}

.nav-up {
    top: -100px;
}

.site_name {
    font-family: 'GmarketSansMedium';
    text-align: center;
}

#search {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 40px;
}

.bi {
    font-size: 30px;
}

#search_id,
.bi-bell {
    margin-left: 15px;
}

.menu_bar {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}

.menu_bar_item {
    font-size: 17px;
    width: 200px;
    padding: 10px;
    display: inline-block;
    position: relative;
    text-align: center;
    cursor: pointer;
    color: #764127;
}

/* 드롭다운 메뉴의 스타일 */
.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #F9ECDB;
    border: 1px solid #F9ECDB;
    width: 200px;
    margin-top: 10px
}

.menu_bar_item:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #764127;
}

.dropdown-content a:hover {
    background-color: #F6E3CE;
}

#topStartBrunchButton,
#topLogoutButton {
    display: flex;
    align-items: center;
    -webkit-font-smoothing: antialiased;
    text-rendering: inherit;
    background-color: #fff;
    opacity: .9;
    border: 1px solid #959595;
    border-radius: 15px;
    color: #333;
    height: 25px;
    margin-left: 15px;
    padding: 0 20px;
    font-family: "Noto Sans Light", sans-serif;
    font-size: 12px;
}