@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JeonjuCraftGoR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftGoR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
    font-family: 'Nanum Gothic', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: auto;
    min-height: calc(100vh - 143px - 70px - 43px);
    margin-top: 143px;
    font-family: 'HakgyoansimWoojuR';
}

a,
a:hover {
    text-decoration: none;
    color: black;
}

p {
    margin: 0;
    margin-bottom: 0;
}

.bi,
.pages,
.pages:hover {
    text-decoration: none;
    color: #764127;
}

button {
    cursor: pointer;
}

ul,
li {
    list-style: none;
}


/* 헤더 태그 */
header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    z-index: 9;
    display: grid;
    grid-template-columns: 1fr 6fr 3fr;
    align-items: center;
    font-family: 'HakgyoansimWoojuR';
}

.nav-up {
    top: -100px;
}

.site_name {
    font-family: 'GmarketSansMedium';
    text-align: center;
    font-size: 17px;
    margin-left: 10px;
}

.site_name>a {
    color: #764127;
}

.bi {
    font-size: 30px;
}

.menu_bar {
    /* width: 40%; */
    display: flex;
}

.menu_bar_item {
    display: flex;
    position: relative;
}

.content-title {
    width: 150px;
    text-align: center;
    padding: 10px 0;
    font-size: 17px;
    cursor: pointer;
    color: #764127;
}

/* 드롭다운 메뉴의 스타일 */
.dropdown-content {
    width: 100%;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 45px;
    /* background-color: #F9ECDB; */
    text-align: center;
    color: #764127;
}

.dropdown-content a {
    padding: 8px 0;
    color: #764127;
}

.dropdown-content a:hover {
    background-color: #fff6ed;
}

#search {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 30px;
}

.bi-search {
    margin: 0 5px;
}

#topStartBrunchButton,
.topLogoutButton:last-child {
    /* width: 100%; */
    min-width: 100px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #959595;
    border-radius: 15px;
    color: #333;
    font-family: "Noto Sans Light", sans-serif;
    font-size: 12px;
}

.nickname-wrap {
    width: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 25px;
    font-size: 16px;
}

.nickname-wrap>.nickname {
    font-weight: bold;
}


/* 경로 표시 */
.path-wrap {
    position: relative;
    width: 750px;
    margin: 0 auto;
    padding-top: 40px;
}

.path {
    position: absolute;
    right: 0;
    bottom: 0;
}

#change-path {
    font-weight: bold;
}


/* @media screen and (max-width: 1280px) {
    #search {
        margin-left: 30%;
    }
}

@media screen and (max-width: 1000px) {
    #search {
        margin-left: 20%;
    }
}

@media screen and (max-width: 700px) {
    #search {
        margin-left: 7%;
    }
} */