<div><a href="/main/home">Booker</a></div><span style="cursor: pointer;"><a
        href="/main/site_introduction">사이트 소개 홈페이지</a></span>
<span><a href="/main/privacy_policy">개인정보처리방침</a></span> <span style="cursor: pointer;"><a
        href="/customer/chatbot">고객센터</a></span>