<div class="site_name" id="site_name">
    <a href="/main/home">Booker</a>
    <!-- 경로 삽입하실때 아래꺼 지우고, 위에 주석처놓은 거 해제하셔서 쓰면 됩니다! -->
    <!-- <a href="/project/views/main_page/main.html">Booker <i class="bi bi-book"></i></a> -->
</div>
<div class="menu_bar" id="menu_bar">
    <div class="menu_bar_item">
        <div class="content-title">칼럼</div>
        <div class="dropdown-content">
            <!-- 로그인 후 보일 마이페이지 창 -->
            <% if(userInfo.isLogined){ %>
                <a class="pages" href="/column/all">전체 칼럼</a>
                <a class="pages" href="/column/sub">구독한 작가 칼럼</a>
                <a class="pages" href="/column/like">좋아요 한 칼럼</a>
                <a class="pages" href="/column/write">칼럼작성</a>
                <% } else { %>
                    <a class="pages" href="/column/all">전체 칼럼</a>
                    <% } %>
        </div>
    </div>
    <div class="menu_bar_item">
        <div class="content-title">토론방</div>
        <div class="dropdown-content">
            <!-- 로그인 후 보일 마이페이지 창 -->
            <% if(userInfo.isLogined){ %>
                <a class="pages" href="/discussion/room_list">전체 토론방</a>
                <a class="pages" href="/discussion/room_list">추천 토론방</a>
                <a class="pages" href="/discussion/room_list">내 토론방</a>
                <a class="pages" href="/discussion/create_room">새로운 토론방 만들기</a>
                <% } else { %>
                    <a class="pages" href="/discussion/room_list">전체 토론방</a>
                    <% } %>
        </div>
    </div>
    <div class="menu_bar_item">
        <div class="content-title">마이페이지</div>
        <div class="dropdown-content">
            <!-- 로그인 후 보일 마이페이지 창 -->
            <% if(userInfo.isLogined){ %>
                <a class="pages" class="topLogoutButton" href="/user/logout">로그아웃</a> <!--페이지 별도로 없음-->
                <a class="pages" href="/user/modify">회원정보수정</a>
                <a class="pages" href="/user/delete_account">회원탈퇴</a>
                <% } else { %>
                    <a class="pages" href="/user/join">회원가입</a>
                    <a class="pages" href="/user/login">로그인</a>
                    <% } %>
        </div>
    </div>
</div>
<!-- 이게 로그인 페이지로 넘어가야함. -->
<div id="search">
    <a href="/main/search"><i class="bi bi-search" id="search_id"></i></a>
    <!-- <i class="bi bi-bell"></i> -->
    <% if(!userInfo.isLogined){ %>
        <span class="nickname-wrap">
            로그인시<br>이용가능
        </span>
        <a href="/user/login" id="topStartBrunchButton">시작하기</a>
        <% } else { %>
            <div class="nickname-wrap"><span class="nickname">
                    <%= userInfo.nickname %>
                </span><span>님</span></div>
            <a href="/user/logout" class="topLogoutButton">로그아웃</a>
            <% } %>
</div>