<!DOCTYPE html>
<html lang="en">

<head>
    <title>개인정보처리방침</title>
    <link rel="stylesheet" href="/mainPage/privacy_policy.css">
</head>

<body>
    <div class="contents">
        <div class="site_title">
            <h1>개인정보처리방침</h1>
        </div>
        <br>
        <div class="paragraph">
            <h2>1. Booker 개인정보처리방침</h2>
            <p>“개인정보 처리방침”이란 이용자가 안심하고 서비스를 이용할 수 있도록 회사가 준수해야 할 지침을 의미하며, Booker는 개인정보처리자가 준수하여야 하는 대한민국의 관계 법령 및
                개인정보보호 규정, 가이드라인을 준수하여 개인정보 처리방침을 제공합니다.Booker는 이용자의 동의를 기반으로 개인정보를 수집·이용 및 제공하고 있습니다. 이용자의 권리(개인정보
                자기결정권)를 적극적으로 보장하기 위해 개인정보 처리방침을 알기 쉽게 제공할 수 있도록 다양한 노력을 기울이고 있습니다.</p>
            <br>
            <br>
            <hr>
        </div>
        <div class="paragraph">
            <h2>2. 개인정보수집</h2>
            <p>이용자는 회원가입을 하지 않아도 게시판 보기, 정보 검색 등 대부분의 Booker 서비스를 회원과 동일하게 이용할 수 있습니다.
                이용자가 고객센터, 토론방 등과 같이 개인화 혹은 회원제 서비스를 이용하기 위해 회원가입을 할 경우, Booker는 서비스 이용을 위해 필요한 최소한의 개인정보를 수집합니다.</p>
            <h4>회원가입 시점에 Booker가 이용자로부터 수집하는 개인정보는 아래와 같습니다.</h4>
            <p>- 회원 가입 시 필수항목으로 아이디, 비밀번호, 이름, 닉네임, 이메일주소를 수집합니다. 실명 인증된 아이디로 가입 시, 중복가입 확인정보를 함께 수집합니다.</p>
            <h4>회원 가입 시 수집하는 개인정보에 대한 추가 설명</h4>
            <p>- 필수항목이란 서비스의 본질적 기능을 수행하기 위해 필요한 정보이며, 선택항목이란 서비스 이용 자체에 영향을 미치지는 않으나 이용자에게 부가적인 가치를 제공하기 위해 추가로 수집하는
                정보입니다. 회원가입 시에 수집하는 아이디, 비밀번호는 로그인을 위하여 필요한 정보이며 이름, 닉네임은 회원제 서비스 운영에 따르는 이용자 구분을 위하여 사용됩니다.</p>
            <br>
            <br>
            <hr>
        </div>
        <div class="paragraph">
            <h2>3. 수집한 개인정보의 이용</h2>
            <br>
            <h3>회원관리, 서비스 제공·개선, 신규 서비스 개발 등을 위해 이용합니다.</h3>
            <p>-회원 식별/가입의사 확인</p>
            <p>-문의사항 또는 불만처리, 공지사항 전달</p>
            <p>-서비스의 원활한 운영에 지장을 주는 행위(계정 도용 및 부정 이용 행위 등 포함)에 대한 방지 및 제재</p>
            <p>-신규 서비스 개발 및 서비스 기능 개선, 개인화된 서비스 제공, 프라이버시 보호를 위한 서비스 환경 구축</p>
            <p>-활동내역을 알리거나 이용자 검색, 등록 등의 기능 제공</p>
            <p>-이벤트 정보 및 참여기회 제공, 광고성 정보 제공 등 마케팅 및 프로모션 목적으로 개인정보를 이용합니다.</p>
            <p>-보안, 프라이버시, 안전 측면에서 이용자가 안심하고 이용할 수 있는 서비스 이용환경 구축을 위해 개인정보를 이용합니다.</p>
            <br>
            <br>
            <hr>
        </div>
        <div class="paragraph">
            <h2>4. 개인정보 제공</h2>
            <br>
            <h3>Booker는 이용자의 별도 동의가 있거나 법령에 규정된 경우를 제외하고는 이용자의 개인정보를 제3자에게 제공하지 않습니다.</h3>
            <p>Booker는 이용자의 사전 동의 없이 개인정보를 제3자에게 제공하지 않습니다. 다만, 이용자가 Booker계정 로그인 서비스를 이용하거나 외부 제휴사 등의 서비스를 이용하는 경우 필요한
                범위 내에서 이용자의 동의를 얻은 후에 개인정보를 제3자에게 제공하고 있습니다.</p>
            <br>
            <br>
            <hr>
        </div>
        <div class="paragraph">
            <h2>5. 개인정보 파기</h2>
            <br>
            <h3>원칙적으로 이용자의 개인정보를 회원 탈퇴 또는 이용목적 달성 시 지체없이 파기하고 있습니다.</h3>
            <p>단, 이용자에게 개인정보 보관기간에 대해 별도의 동의를 얻은 경우, 또는 법령에서 일정 기간 정보보관 의무를 부과하는 경우에는 해당 기간 동안 개인정보를 안전하게 보관합니다.</p>
            <br>
            <h3>전자상거래 등에서의 소비자 보호에 관한 법률, 전자문서 및 전자거래 기본법, 통신비밀보호법 등 법령에서 일정기간 정보의 보관을 규정하는 경우는 아래와 같습니다. 네이버는 이 기간 동안
                법령의 규정에 따라 개인정보를 보관하며, 본 정보를 다른 목적으로는 절대 이용하지 않습니다.</h3>
            <p>-전자상거래 등에서 소비자 보호에 관한 법률<br>&nbsp;&nbsp;계약 또는 청약철회 등에 관한 기록 : 5년 보관<br>&nbsp;&nbsp;대금결제 및 재화 등의 공급에 관한 기록
                : 5년 보관<br>&nbsp;&nbsp;소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 보관</p>
            <p>-전자문서 및 전자거래 기본법<br>&nbsp;&nbsp;공인전자주소를 통한 전자문서 유통에 관한 기록 : 10년 보관</p>
            <p>-통신비밀보호법<br>&nbsp;&nbsp;로그인 기록 : 3개월</p>
        </div>
        <br>
    </div>
</body>

</html>