<!DOCTYPE html>
<html lang="en">

<head>
    <title>토론방 창(채팅)</title>
    <script src="/discussion/chatting_room.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.7.3/dist/full.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/discussion/chatting_room.css">
</head>

<body>
    <div class="chating-room-wrap">
        <div class="room-head">
            <h1>토론방 이름</h1> <!-- 방장이 지정한 토론방 이름 -->
        </div>
        <div class="room-body">
            <div class="user-list">
                <p>인원: <span class="participant-count">5</span></p>
                <ul class="users-nickname">
                    <li>닉네임1</li>
                    <li>닉네임2</li>
                    <li>닉네임3</li>
                    <li>닉네임4</li>
                    <li>닉네임5</li>
                </ul>
            </div>

            <!-- 채팅 관련 컨테이너 -->
            <div class="user-chat-container">
                <div class="chat_screen"></div>

                <div class="input_div">
                    <textarea id="chat_input"></textarea>
                    <div class="enter_btn">입력</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>