<!DOCTYPE html>
<html lang="en">

<head>
    <title>새 토론방 생성 페이지</title>
    <link rel="stylesheet" href="/discussion/newRoom.css">
    <script src="/discussion/new_room.js"></script>
</head>

<body>
    <div class="room-setting-container">
        <h1>토론방 생성</h1>
        <div class="box-head">
            <div class="room-name">토론방 이름</div>
            <input type="text" name="기타" class="text-field" placeholder=" 20자 이내 작성" maxlength="20">
        </div>
        <div class="box-body">
            <select class="select-box">
                <option value="chat" selected>채팅</option>
                <option value="videoChat">화상회의</option>
            </select>
            <div class="add-room-btn-wrap">
                <button type="button" class='add-btn'>만들기</button>
                <button type="button" class='cancel-btn' onclick="location.href='/discussion/room_list'">취소</button>
            </div>
        </div>
    </div>
</body>

</html>