<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>새 토론방 생성 페이지</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/discussion/newRoom.css">
    <script src="/common/common.js"></script>
    <script src="/discussion/new_room.js"></script>
</head>

<body>
    <header id="header"></header>

    <main>
        <div class="room-setting-container">
            <h1>토론방 생성</h1>
            <div class="box-head">
                <div class="room-name">토론방 이름</div>
                <input type="text" name="기타" class="text-field" placeholder=" 20자 이내 작성" maxlength="20">
            </div>
            <div class="box-body">
                <select class="select-box">
                    <option value="chat" selected>채팅</option>
                    <option value="videoChat">화상회의</option>
                </select>
                <div class="add-room-btn-wrap">
                    <button type="button" class='add-btn'>만들기</button>
                    <button type="button" class='cancel-btn'>취소</button>
                </div>
            </div>
        </div>
    </main>
</body>

</html>