<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/common/floating_banner.css">
    <script src="/common/floating_banner.js"></script>
    
</head>
<body>
    <div class="banner_div" id="banner_div">
        <div class="btn"><i class="bi bi-arrow-up-square" id="up_btn"></i></div>
        <div class="btn"><i class="bi bi-arrow-down-square" id="down_btn"></i></div>
        <div class="btn"><a href="/customer/chatbot"><i class="bi bi-robot" id="robot_btn"></i></a></div>
    </div>
</body>
</html>