<div class="site_name" id="site_name">
    <a href="/main/home">Booker <i class="bi bi-book"></i></a>
    <!-- 경로 삽입하실때 아래꺼 지우고, 위에 주석처놓은 거 해제하셔서 쓰면 됩니다! -->
    <!-- <a href="/project/views/main_page/main.html">Booker <i class="bi bi-book"></i></a> -->
</div>
<div class="menu_bar" id="menu_bar">
    <div class="menu_bar_item">칼럼
        <div class="dropdown-content">
            <a href="/user/all_column">전체 칼럼</a>
            <a href="/user/sub_column">구독한 작가 칼럼</a>
            <a href="/user/like_column">좋아요 한 칼럼</a>
            <a href="/user/write_column">칼럼작성</a>
        </div>
    </div>
    <div class="menu_bar_item">토론방
        <div class="dropdown-content">
            <a href="/discussion/room_list">전체 토론방</a>
            <a href="/discussion/room_list">추천 토론방</a>
            <a href="/discussion/room_list">내 토론방</a>
            <a href="/discussion/create_room">새로운 토론방 만들기</a>
        </div>
    </div>
    <div class="menu_bar_item">마이페이지
        <div class="dropdown-content">
            <!-- 로그인 후 보일 마이페이지 창 -->
            <a href="#">로그아웃</a> <!--페이지 별도로 없음-->
            <a href="/user/modify">회원정보수정</a>
            <a href="/user/delete_account">회원탈퇴</a>
        </div>
    </div>
</div>
<!-- 이게 로그인 페이지로 넘어가야함. -->
<div id="search">
    <a href="/user/login" id="topStartBrunchButton"
        class="f_r btn_request btn_default #home_join" data-tiara-action-name="TOP > GNB 우측 [시작하기] 버튼 클릭"
        data-tiara-layer="login">시작하기</a>
    <a href="/main/search"><i class="bi bi-search" id="search_id"></i></a>
    <i class="bi bi-bell"></i>
</div>