<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로고 헤더</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <!-- 부트스트랩 CDN  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/common/logo_header.css">
    
    

</head>

<body>
    <div class="logo-wrap" id="logo_header">
        <a class="logo" href="/project/views/main_page/main.html">Booker <i class="bi bi-book"></i></a>
    </div>
</body>

</html>