@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: 'HakgyoansimWoojuR';
    padding: 0 5px;
}

.recomm_outline {
    width: 50%;
    height: 60%;
    margin: 0 auto;
}


.recomm {
    height: 50px;
    width: 250px;
    color: #764127;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

/* 분야별 칼럼 분류제외한 itemMenu_bar */
.coumn_bar {
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* 분야별 칼럼 분류제외한 itemMenu_bar */
.recomm_bar {
    display: flex;
    align-items: center;
    height: 150px;
    margin-bottom: 10px;
    justify-content: center;

}

/* 분야별 칼럼 분류를 제외한 3가지 item div */
.bar_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 가운데 정렬 */
    height: 100%;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

.bar_item:hover {
    cursor: pointer;
    border: 0.5px solid #D3B396;
}


/* 분야별 칼럼 분류 item div */
.class_item {
    width: 150px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
}

.class_item:hover {
    cursor: pointer;
    border: 0.5px solid #D3B396;
}

.class_frame {
    width: 50%;
    margin: 0 auto;
}

/* 마우스 호버 시 포인터 모양으로 변경 + border랑 글자 색 변환 */
.class_item:hover {
    border: 0.5px solid #D3B396;
    color: #D3B396;
    cursor: pointer;
}

h3 {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
    padding: 0;
    text-rendering: inherit;
    margin: 150px auto 0;
    color: #764127;
    font-size: 40px;
    font-weight: normal;
    margin-top: 0;
    text-align: left;
    font-family: 'HakgyoansimWoojuR';
    letter-spacing: -.05em;
    padding-left: 1%;
    float: left;

    border-right: 3px solid #764127;
    animation: blink .5s infinite, typing 2s steps(30), stop-cursor 1s forwards;
    white-space: nowrap;
    overflow: hidden;
    
}

@keyframes blink {
    50%{
        border-color: transparent;
    }
}

@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 701px;
    }
}

@keyframes stop-cursor {
    to {
        border-color: #764127;
    }
}

.desc_brunch {
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
    padding: 0;
    text-rendering: inherit;
    width: 960px;
    font-family: "Nanum Myeongjo", sans-serif;
    color: #cacaca;
    font-size: 32px;
    line-height: 46px;
    margin-top: -3px;
    padding-bottom: 16px;
    padding-left: 1%;

}

/* 칼럼 디자인 웹 퍼블리싱 */

.column_title {
    font-size: 30px;

}

.bar_item>img {
    width: 100%;
    height: 100%;
}

hr {
    margin: 10px 0;
}

/* 캐러셀 테스트 */
/* 스스롤 만들었다는 캐러셀 테스트*/
.carousel-wrapper {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.bi-chevron-left,
.bi-chevron-right {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    cursor: pointer;
    z-index: 2;
    transition: color 0.3s, background-color 0.3s;
    color: #F6E3CE;
    background-color: rgba(246, 227, 206, 0.3);
    border-radius: 50%;
}

.bi-chevron-left {
    left: 2%;
}

.bi-chevron-right {
    right: 2%;
}

.bi-chevron-left:hover,
.bi-chevron-right:hover {
    color: #764127;
    background-color: rgba(246, 227, 206, 0.5);
}

.bi-chevron-left::before,
.bi-chevron-right::before {
    content: "\f284";
    content: "\f285";
    font-family: bootstrap-icons;
    font-size: 40px;
    padding: 7px;
}

.slide_bar {
    width: 300%;
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s ease-in-out;
}

.cut_div {
    display: flex;
    width: 100%;
    height: 300px;
}

.btn-wrap {
    margin: 5px;
}

.slide-indicators {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.indicators-label {
    margin: 5px 7px;
    padding: 3px 22px;
    cursor: pointer;
}