<!DOCTYPE html>
<html lang="en">

<head>
    <title>아이디 찾기</title>
    <link rel="stylesheet" href="/user/findById2.css">
</head>
</script>

<body>
    <div class="main_div">
        <div class="contents">
            <p class="id">아이디는</p>
        </div>
        <div class="contents">
            <div class="box"></div>
        </div>
        <div class="contents">
            <p class="text">입니다.</p>
        </div>
        <div class="contents" id="content">
            <a href="/user/passwd_find">
                <div class="click_btn">비밀번호 찾기</div>
            </a>
            <a href="/user/login">
                <div class="click_btn">로그인</div>
            </a>
        </div>
</body>

</html>