<!DOCTYPE html>
<html lang="en">

<head>
    <title>로그인</title>
    <link rel="stylesheet" href="/user/login.css">
    <script src="/user/userLogin.js"></script>
</head>

<body>
    <div class="modal">
        <div class="modal-container">
            <div class="qr-wrap">
                <i class="fa-solid fa-xmark"></i>
                <div class="qr">qr코드</div>
                <div class="remaining-time">
                    남은시간
                    <p class="time">02분 59초</p>
                </div>
            </div>
        </div>
    </div>
    <div class="login-form">
        <h1>로그인</h1>
        <form action="#">
            <div class="login-wrap">
                <div class="login-id">아이디</div>
                <input type="text" name="email" class="text-field" placeholder="아이디를 입력해주세요" maxlength="20">
            </div>
            <div class="login-wrap">
                <div class="login-pw">비밀번호</div>
                <input type="password" name="password" class="text-field" placeholder="비밀번호를 입력해주세요" maxlength="30">
            </div>
            <input type="submit" value="로그인" class="submit-btn">
            <input type="button" value="QR 로그인" class="qr-btn">

            <div class="links">
                <a href="/user/join">회원가입</a>
                <div class="find-wrap">
                    <a href="/user/findById1">아이디 찾기</a>
                    <a href="/user/passwd_find">비밀번호 찾기</a>
                </div>
            </div>


            <div class="login-btn-container">
                <!-- <input type="submit" value="카카오 로그인" class="submit-btn"> -->
                <img src="/login-button/카카오로그인.png" alt="">
                <!-- <input type="submit" value="네이버 로그인" class="submit-btn"> -->
                <img src="/login-button/네이버로그인.png" alt="">
                <!-- <input type="submit" value="구글 로그인" class="submit-btn"> -->
                <img src="/login-button/구글로그인.png" alt="">
            </div>
        </form>
    </div>
</body>

</html>